input,
textarea {
  width: 70vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(242, 235, 191);
  border-style: none;
  border-bottom: 2px solid rgb(92, 75, 81);
}

.btn-tweet {
  color: white;
  background-color: rgb(240, 96, 96);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form div {
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  width: 70vw;
  justify-content: space-between;
  margin-top: 1rem;
}